@page
@model IBSimulatorWeb.Pages.DevicesModel
@{
    var equipments = @Model.GetDevices();
    var status = @Model._status;
}
<style>
    .form-group {
        margin-bottom: 20px;
    }

    label {
        letter-spacing: 0.4px !important;
        line-height: 2;
        font-weight: bold;
    }

    .btn-info {
        width: 130px;
        color: white;
        font-weight: bold;
        letter-spacing: 1px;
    }

    h3 {
        border-bottom: 1px solid gray;
        line-height: 2;
        margin-bottom: 40px;
        background-color: #f1f1f1;
        padding-left: 20px;
    }

    table {
        margin-bottom: 40px !important;
    }

    .payload-label {
        padding: 0 10px 10px 0;
    }

    h5 {
        font-size: 30px;
        text-transform: uppercase;
        font-weight: 300;
        padding: 10px 0 10px 0;
        text-align: center;
        margin-bottom: 15px;
        background-color: #bdffdb8c;
    }
</style>

<h3>Devices</h3>
<section>
    <h5>Equipments</h5>
    <div class="row">
        <div class="col-md-8">
            <table class="table">
                <thead>
                    <tr>
                        <th>Device Id</th>
                        <th>RTU Id</th>
                        <th>RTU No</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in equipments)
                    {
                        <tr>
                            <td>@Html.Label(item.ColEquipmentId)</td>
                            <td>@Html.Label(item.ColRtuIdFk)</td>
                            <td>@Html.Label(item.ColRtuNumber.ToString())</td>
                            <td>
                                <form asp-page-handler="CheckLiftStatus" method="post">
                                    <button class="btn btn-default">Check Status</button>
                                    <input type="hidden" name="rtuId" value="@item.ColRtuIdFk" />
                                    <input type="hidden" name="targetLift" value="@item.ColEquipmentId" />
                                </form>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
        <div class="col-md-4">
            <div class="form-group">
                <div class="row payload-label">
                    <label class="col-md-10" for="payload">Lift Status Payload</label>
                    <button class="btn btn-warning col-md-2" onclick="onClickClearBtn()">Clear</button>
                </div>
                <textarea class="form-control" name="payload" id="payload" rows="15" cols="50">@status</textarea>
            </div>
        </div>
    </div>
</section>

<script>
    function onClickClearBtn(){
        let txtArea = document.getElementById("payload");
        txtArea.value = "";
    }
</script>

